<!DOCTYPE html>
<html lang="en" data-th-attr="lang=#{localized.lang}">

<head>
    <meta charset="UTF-8">
    <title data-th-text="#{auth.login.header.text}">Authentication</title>
    <link href="../../static/css/styles.css" data-th-href="@{/css/styles.css}" rel="stylesheet">
</head>

<body class="auth_body">
    <div class="auth_wrapper">
        <div class="auth_header">
            <label data-th-text="#{auth.login.form.header.text}">Authentication</label>
        </div>

        <form id="authenticationForm" class="authentication_form" method="post" action="/loginPage">
            <div class="auth_form_body">
                <div class="auth_form_body_row">
                    <label for="username" data-th-text="#{auth.login.form.login}">Login:</label>
                    <input id="username" name="username" type="text" value="" />
                </div>

                <div class="auth_form_body_row">
                    <label for="password" data-th-text="#{auth.login.form.password}">Password:</label>
                    <input id="password" name="password" type="password" value="" />
                </div>
            </div>
            <div class="auth_buttons">
                <div class="auth_submit_button">
                    <button type="submit" data-th-text="#{auth.login.button.name}">Login</button>
                </div>
            </div>
        </form>

        <div data-th-if="${error}" data-th-utext="${errorText}" style="color:red;font-style:italic;">
        </div>

    </div>
</body>

</html>