<!DOCTYPE html>
<html lang="en" data-th-attr="lang=#{localized.lang}" class="add_genre_html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="#{site.title}">Библиотека</title>
    <link href="../../static/css/styles.css" data-th-href="@{/css/styles.css}" rel="stylesheet">
  
</head>

<body class="add_genre_body_main">
    <div class="add_genre_wrapper">
        <form class="add_genre_form_wrapper" data-th-action="@{/genres/add}" data-th-object="${genre}" method="post">
            <div class="add_genre_form_caption">
                <p data-th-text="#{genres.add.form.caption}">Новый жанр</p>
            </div>
            <div class="add_genre_body">
                <div class="add_genre_body_row">
                    <label data-th-text="#{genres.add.form.label}">Name</label>
                    <input type="text" data-th-field="*{name}" />
                </div>
                <div class="add_genre_body_row" data-th-classappend="${#fields.hasErrors('name')}? 'has-error'">
                    <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
                    data-th-class="text-red">Incorrect data</p>
                </div>
            </div>
                <div class="add_genre_form_bottom">
                    <div class="add_genre_bottom_nav">
                        <button type="submit" data-th-text="#{genres.add.submit}">Submit</button>
                        <button type="button" data-th-text="#{genres.add.exit}"
                                onclick="window.location.href='/genres';">Cancel</button>
                    </div>
                </div>
        </form>
    </div>
    </body>

</html>