.body_book_add_author{
    display: block;
    padding: 0;
    margin: 0;
}

.book_add_author_wrapper{
    width: 98vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: auto !important;
    height: 100%; // for old IE
}

.book_authors_nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background-color: lightblue;
    border-bottom: 1px solid black;
}