@charset "UTF-8";
.text-red {
  color: red;
}

html {
  height: 100%;
}

.index_body {
  border-top: 5px solid #7e7e7e;
  background-image: url(../images/bg.png);
  height: 100%;
}

#index-wrapper {
  width: 95vw;
  margin: auto;
  dispaly: block;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

header {
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#header_logo {
  display: inline-block;
}

#header_langs {
  display: inline-block;
}

@media only screen and (max-device-width: 480px) {
  .library_logo {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .library_logo {
    /* default iPad screens */
    width: 50px;
    height: 50px;
  }
}

@media only screen and (device-width: 768px) {
  .library_logo {
    /* default iPad screens */
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 959px) {
  .library_logo {
    /* styles for browsers larger than 960px; */
    width: 60px;
    height: 60px;
  }
}

@media only screen and (min-width: 960px) {
  .library_logo {
    /* styles for browsers larger than 960px; */
    width: 90px;
    height: 90px;
  }
}

@media only screen and (min-width: 1440px) {
  .library_logo {
    /* styles for browsers larger than 1440px; */
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 2000px) {
  .library_logo {
    /* for sumo sized (mac) screens */
    width: 120px;
    height: 120px;
  }
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/Cuprum-Regular.ttf) format("truetype");
  /* все современные браузеры */
}

nav a {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-position: inside;
  font: 24px "Cuprum", sans-serif;
  padding: 10px;
}

.top-menu {
  background: #c8e9f0;
}

.top-menu li {
  display: inline-block;
  padding: 10px 30px;
  margin: 0;
}

.top-menu :hover {
  background: #29c5e6;
  color: #fff;
}

.top-menu a {
  color: #b2b2b2;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/Cuprum-Regular.ttf) format("truetype");
  /* все современные браузеры */
}

#heading {
  background: transparent url(../images/h1-bg.png);
  margin: 30px 0;
  padding-left: 20px;
}

#heading h1 {
  display: inline-block;
  color: #7e7e7e;
  font: 40px/40px "Cuprum", sans-serif;
  background: url(../images/bg.png);
  margin: 0;
  padding: 0 10px;
}

.main-content {
  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 3fr 10fr;
  grid-gap: 20px;
}

.aside {
  grid-area: aside;
}

.content {
  grid-area: content;
}

.aside-menu > li {
  list-style-type: none;
  margin: 1em;
}

.aside-menu > li:hover {
  background-color: lightblue;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/Cuprum-Regular.ttf) format("truetype");
  /* все современные браузеры */
}

.footer {
  background: #7e7e7e;
  color: #dbdbdb;
  font: 24px "Cuprum", sans-serif;
  display: block;
  margin: auto;
  padding: 10px;
  width: 95vw;
  position: relative;
}

.footer p {
  margin-left: 10px;
}

#about-modal {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
}

/* native backdrop */
#about-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

/* polyfill backdrop */
#about-modal + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#about-modal[open] {
  animation: slide-up 0.4s ease-out;
}

/* The following styles are for older browsers when using
   the polyfill. These aren’t necessary for Chrome/Firefox. */
#about-modal {
  display: none;
  position: absolute;
  margin: 0 auto;
  /* should center it, but not working in Safari */
  max-width: 80vw;
  background-color: white;
}

#about-modal[open] {
  display: block;
}

.about-modal-header,
.about-modal-body,
.about-modal-footer {
  padding: 1em;
}

.about-modal-header {
  margin: 0;
  padding-bottom: 0.6em;
  background-color: #ddedfd;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom: 1px solid #78a4d3;
  display: flex;
  justify-content: space-between;
  flex-flow: row  nowrap;
  align-items: baseline;
}

.about-modal-header-caption {
  display: inline-block;
  margin-right: 1em;
}

.upper-close {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 2em;
  padding: 0.3em;
  line-height: 0.6;
}

.upper-close:focus {
  background-color: transparent;
  outline: none;
  /* убрать рамку */
}

.upper-close:active {
  transform: translate(4px, 4px);
}

.about-modal-footer {
  display: flex;
  border-top: 1px solid #78a4d3;
  justify-content: flex-end;
}

.about-modal-footer-buttons {
  display: block;
}

delete-genre-delete +
#about-modal button {
  padding: 0.4em 1em 0.2em;
  font-family: Glober, Helvetica, sans-serif;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/Cuprum-Regular.ttf) format("truetype");
  /* все современные браузеры */
}

.genres_wrapper {
  display: grid;
  grid-template-areas: "genre_nav" "genre_content";
  grid-template-columns: 1fr;
  width: 95vw;
  margin: auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.genres_nav {
  grid-area: genre_nav;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.new_genre_button {
  box-shadow: 0px 0px 0px 0px #3dc21b;
  background-color: #44c767;
  border-radius: 1em;
  border: 1px solid #18ab29;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 1em;
  padding: 0.9em 1.1em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-bottom: 0.5em;
}

.new_genre_button:hover {
  background-color: #5cbf2a;
}

.new_genre_button:active {
  position: relative;
  top: 1px;
}

.genres_return_button {
  box-shadow: 0px 0px 0px 0px #3dc21b;
  background-color: #44c767;
  border-radius: 1em;
  border: 1px solid #18ab29;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 1em;
  padding: 0.9em 1.1em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-bottom: 0.5em;
}

.genres_return_button:hover {
  background-color: #5cbf2a;
}

.genres_return_button:active {
  position: relative;
  top: 1px;
}

.genres_table {
  grid-area: genre_content;
  margin-top: 15px;
  display: grid;
  grid-template-areas: "genre_table_caption";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

.genre_table_caption {
  grid-area: genre_table_caption;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.genre_caption_text {
  font: 2em "Cuprum", sans-serif;
  padding: 0.5em;
}

.genre_row {
  font: 1.5em "Cuprum", sans-serif;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.genre_row_text,
.genre_delete_edit_buttons {
  display: inline-block;
  margin: 0.5em;
}

.genre_edit_row,
.genre_delete_row {
  display: inline-block;
}

.edit_genre_button {
  box-shadow: inset 0px 1px 0px 0px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 6px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.7em;
  font-weight: bold;
  padding: 6px 24px;
  margin: 0.5em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

.edit_genre_button:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}

.edit_genre_button:active {
  position: relative;
  top: 1px;
}

.delete_genre_button {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.7em;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.delete_genre_button:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}

.delete_genre_button:active {
  position: relative;
  top: 1px;
}

#delete-genre {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
}

/* native backdrop */
#delete-genre::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

/* polyfill backdrop */
#delete-genre + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#delete-genre[open] {
  animation: slide-up 0.4s ease-out;
}

/* The following styles are for older browsers when using
     the polyfill. These aren’t necessary for Chrome/Firefox. */
#delete-genre {
  display: none;
  position: absolute;
  margin: 0 auto;
  /* should center it, but not working in Safari */
  max-width: 80vw;
  background-color: white;
}

#delete-genre[open] {
  display: block;
}

.delete-genre-header,
.delete-genre-body,
.delete-genre-footer {
  padding: 1em;
}

.delete-genre-header {
  margin: 0;
  padding-bottom: 0.6em;
  background-color: #ddedfd;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom: 1px solid #78a4d3;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: baseline;
}

.delete-genre-header-caption {
  display: inline-block;
}

.delete-genre-body {
  display: inline-grid;
  grid-template-areas: "delete-genre-labels delete-genre-inputs";
  grid-template-columns: 2fr 10fr;
  width: calc(100% - 2em);
  grid-gap: 1em;
  align-items: center;
}

.delete-genre-labels {
  grid-area: delete-genre-labels;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 1em;
}

.delete-genre-inputs {
  grid-area: delete-genre-inputs;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 1em;
}

.delete-genre-footer {
  display: flex;
  border-top: 1px solid #78a4d3;
  justify-content: flex-end;
}

#delete-genre-delete + #delete-genre-cancel {
  margin-left: 1em;
}

#delete-genre button {
  padding: 0.4em 1em 0.2em;
  font-family: Glober, Helvetica, sans-serif;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.add_genre_html,
.add_genre_body_main {
  display: block;
  padding: 0;
  margin: 0;
}

.add_genre_wrapper {
  width: 95vw;
  margin: auto;
  min-height: 100%;
  height: 100vh !important;
  height: 100%;
  background-color: white;
}

.add_genre_form_wrapper {
  display: grid;
  grid-template: "add_genre_form_cap" "add_genre_body" "add_genre_form_bottom";
  grid-template-columns: 1fr;
  grid-template-rows: 5em auto 5em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.add_genre_form_caption {
  grid-area: add_genre_form_cap;
  background-color: lightblue;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.add_genre_form_caption p {
  margin-left: 0.6em;
  font-size: 1.5em;
}

.add_genre_body {
  grid-area: add_genre_body;
  background-color: white;
  display: block;
}

.add_genre_body label,
.add_genre_body input,
.add_genre_body p {
  margin-top: 2em;
  font-size: 2em;
}

.add_genre_body_row {
  display: flex;
  justify-content: flex-end;
  padding: .6em;
}

.add_genre_body_row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.add_genre_body_row > input {
  flex: 2;
  padding: .5em;
}

@media screen and (min-width: 768px) {
  .add_genre_body_row > input {
    flex: 3;
  }
}

@media screen and (min-width: 992px) {
  .add_genre_body_row > input {
    flex: 4;
  }
}

@media screen and (min-width: 1200px) {
  .add_genre_body_row > input {
    flex: 15;
  }
}

.add_genre_form_bottom {
  grid-area: add_genre_form_bottom;
  background-color: lightblue;
  border-bottom-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  border-color: black;
  border-style: solid;
  border-width: 1px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.add_genre_bottom_nav {
  display: inline-block;
  margin-left: 0.6em;
  margin-right: 0.6em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.add_genre_bottom_nav button {
  font-size: 1.5em;
  margin-left: 0.6em;
}

.edit_genre_html,
.edit_genre_body_main {
  display: block;
  pediting: 0;
  margin: 0;
}

.edit_genre_wrapper {
  width: 95vw;
  margin: auto;
  min-height: 100%;
  height: 100vh !important;
  height: 100%;
  background-color: white;
}

.edit_genre_form_wrapper {
  display: grid;
  grid-template: "edit_genre_form_cap" "edit_genre_body" "edit_genre_form_bottom";
  grid-template-columns: 1fr;
  grid-template-rows: 5em auto 5em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.edit_genre_form_caption {
  grid-area: edit_genre_form_cap;
  background-color: lightblue;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.edit_genre_form_caption p {
  margin-left: 0.6em;
  font-size: 1.5em;
}

.edit_genre_body {
  grid-area: edit_genre_body;
  background-color: white;
  display: block;
}

.edit_genre_body label,
.edit_genre_body input,
.edit_genre_body p {
  margin-top: 2em;
  font-size: 2em;
}

.edit_genre_body_row {
  display: flex;
  justify-content: flex-end;
  padding: .6em;
}

.edit_genre_body_row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.edit_genre_body_row > input {
  flex: 2;
  padding: .5em;
}

@media screen and (min-width: 768px) {
  .edit_genre_body_row > input {
    flex: 3;
  }
}

@media screen and (min-width: 992px) {
  .edit_genre_body_row > input {
    flex: 4;
  }
}

@media screen and (min-width: 1200px) {
  .edit_genre_body_row > input {
    flex: 15;
  }
}

.edit_genre_form_bottom {
  grid-area: edit_genre_form_bottom;
  background-color: lightblue;
  border-bottom-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  border-color: black;
  border-style: solid;
  border-width: 1px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.edit_genre_bottom_nav {
  display: inline-block;
  margin-left: 0.6em;
  margin-right: 0.6em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.edit_genre_bottom_nav button {
  font-size: 1.5em;
  margin-left: 0.6em;
}

@font-face {
  font-family: "Cuprum";
  src: url(../fonts/Cuprum-Regular.ttf) format("truetype");
  /* все современные браузеры */
}

.authors_wrapper {
  display: grid;
  grid-template-areas: "author_nav" "author_content";
  grid-template-columns: 1fr;
  width: 95vw;
  margin: auto;
}

.authors_nav {
  grid-area: author_nav;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.new_author_button {
  box-shadow: 0px 0px 0px 0px #3dc21b;
  background-color: #44c767;
  border-radius: 1em;
  border: 1px solid #18ab29;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 1em;
  padding: 0.9em 1.1em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-bottom: 0.5em;
}

.new_author_button:hover {
  background-color: #5cbf2a;
}

.new_author_button:active {
  position: relative;
  top: 1px;
}

.authors_return_button {
  box-shadow: 0px 0px 0px 0px #3dc21b;
  background-color: #44c767;
  border-radius: 1em;
  border: 1px solid #18ab29;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  font-size: 1em;
  padding: 0.9em 1.1em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin-bottom: 0.5em;
}

.authors_return_button:hover {
  background-color: #5cbf2a;
}

.authors_return_button:active {
  position: relative;
  top: 1px;
}

.authors_table {
  grid-area: author_content;
  margin-top: 15px;
  display: grid;
  grid-template-areas: "genre_table_caption";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

.author_table_caption {
  grid-area: genre_table_caption;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.author_caption_text {
  font: 2em "Cuprum", sans-serif;
  padding: 0.5em;
}

.author_row {
  font: 1.5em "Cuprum", sans-serif;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  border: 1px solid #4e6096;
  border-top: 0px;
}

.author_sub_row {
  display: flex;
  flex: 8;
  flex-direction: column;
  justify-content: center;
}

.author_row_text {
  display: flex;
  flex-flow: row wrap;
  margin: 0.5em;
  align-items: baseline;
}

.author_row_text > label {
  flex: 1;
  font-size: 1em;
}

.author_row_text > input {
  flex: 8;
  font-size: 1em;
}

@media screen and (min-width: 98px) {
  .author_row_text > label {
    width: 100%;
  }
  .author_row_text > input {
    width: 100%;
  }
}

@media screen and (min-width: 400px) {
  .author_row_text > label {
    flex: 1;
  }
  .author_row_text > input {
    flex: 3;
  }
}

@media screen and (min-width: 768px) {
  .author_row_text > input {
    flex: 3;
  }
}

@media screen and (min-width: 992px) {
  .author_row_text > input {
    flex: 5;
  }
}

@media screen and (min-width: 1200px) {
  .author_row_text > input {
    flex: 7;
  }
}

@media screen and (min-width: 1300px) {
  .author_row_text > input {
    flex: 8;
  }
}

@media screen and (min-width: 1500px) {
  .author_row_text > input {
    flex: 10;
  }
}

.author_delete_edit_buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  flex: 1;
}

.author_edit_row,
.author_delete_row {
  display: block;
}

.edit_author_button {
  box-shadow: inset 0px 1px 0px 0px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 6px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.7em;
  font-weight: bold;
  padding: 6px 24px;
  margin: 0.5em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

.edit_author_button:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}

.edit_author_button:active {
  position: relative;
  top: 1px;
}

.delete_author_button {
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 0.7em;
  font-weight: bold;
  padding: 6px 24px;
  margin: 0.5em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.delete_author_button:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f;
}

.delete_author_button:active {
  position: relative;
  top: 1px;
}

#delete-author {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
}

/* native backdrop */
#delete-author::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

/* polyfill backdrop */
#delete-author + .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#delete-author[open] {
  animation: slide-up 0.4s ease-out;
}

/* The following styles are for older browsers when using
     the polyfill. These aren’t necessary for Chrome/Firefox. */
#delete-author {
  display: none;
  position: absolute;
  margin: 0 auto;
  /* should center it, but not working in Safari */
  max-width: 80vw;
  background-color: white;
}

#delete-author[open] {
  display: block;
}

.delete-author-header,
.delete-author-body,
.delete-author-footer {
  padding: 1em;
}

.delete-author-header {
  margin: 0;
  padding-bottom: 0.6em;
  background-color: #ddedfd;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-bottom: 1px solid #78a4d3;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: baseline;
}

.delete-author-header-caption {
  display: inline-block;
}

.delete-author-body {
  display: flex;
  flex-flow: column wrap;
  gap: .5em;
  /* display: inline-grid;
  grid-template-areas: "delete-author-labels delete-author-inputs";
  grid-template-columns: 2fr 10fr;
  width: calc(100% - 2em);
  grid-gap: 1em;
  align-items: center;*/
}

.delete-author-row {
  grid-area: delete-author-labels;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  gap: .5em;
}

.delete-author-row > label {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.delete-author-row > input {
  display: flex;
  flex-direction: row;
  flex: 3;
}

.delete-author-footer {
  display: flex;
  border-top: 1px solid #78a4d3;
  justify-content: flex-end;
}

#delete-author-delete + #delete-author-cancel {
  margin-left: 1em;
}

#delete-author button {
  padding: 0.4em 1em 0.2em;
  font-family: Glober, Helvetica, sans-serif;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.add_author_html,
.add_author_body_main {
  display: block;
  padding: 0;
  margin: 0;
}

.add_author_wrapper {
  width: 95vw;
  margin: auto;
  min-height: 100%;
  height: 100vh !important;
  height: 100%;
  background-color: white;
}

.add_author_form_wrapper {
  display: grid;
  grid-template: "add_author_form_cap" "add_author_body" "add_author_form_bottom";
  grid-template-columns: 1fr;
  grid-template-rows: 5em auto 5em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.add_author_form_caption {
  grid-area: add_author_form_cap;
  background-color: lightblue;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.add_author_form_caption p {
  margin-left: 0.6em;
  font-size: 1.5em;
}

.add_author_body {
  grid-area: add_author_body;
  background-color: white;
  display: block;
}

.add_author_body_row {
  display: flex;
  justify-content: flex-end;
  padding: .6em;
  flex-flow: row wrap;
}

.add_author_body_row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
  font-size: 2em;
}

.add_author_body_row > input {
  flex: 2;
  padding: .5em;
  font-size: 2em;
}

.add_author_body > p {
  font-size: 2em;
}

@media screen and (min-width: 768px) {
  .add_author_body_row > input {
    flex: 3;
  }
}

@media screen and (min-width: 992px) {
  .add_author_body_row > input {
    flex: 4;
  }
}

@media screen and (min-width: 1200px) {
  .add_author_body_row > input {
    flex: 8;
  }
}

.add_author_form_bottom {
  grid-area: add_author_form_bottom;
  background-color: lightblue;
  border-bottom-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  border-color: black;
  border-style: solid;
  border-width: 1px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.add_author_bottom_nav {
  display: inline-block;
  margin-left: 0.6em;
  margin-right: 0.6em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.add_author_bottom_nav button {
  font-size: 1.5em;
  margin-left: 0.6em;
}

.edit_author_html,
.edit_author_body_main {
  display: block;
  pediting: 0;
  margin: 0;
}

.edit_author_wrapper {
  width: 95vw;
  margin: auto;
  min-height: 100%;
  height: 100vh !important;
  height: 100%;
  background-color: white;
}

.edit_author_form_wrapper {
  display: grid;
  grid-template: "edit_author_form_cap" "edit_author_body" "edit_author_form_bottom";
  grid-template-columns: 1fr;
  grid-template-rows: 5em auto 5em;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.edit_author_form_caption {
  grid-area: edit_author_form_cap;
  background-color: lightblue;
  border-top-right-radius: 0.6em;
  border-top-left-radius: 0.6em;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.edit_author_form_caption p {
  margin-left: 0.6em;
  font-size: 1.5em;
}

.edit_author_body {
  grid-area: edit_author_body;
  background-color: white;
  display: block;
}

.edit_author_body label,
.edit_author_body input,
.edit_author_body p {
  margin-top: 2em;
  font-size: 2em;
}

.edit_author_body_row {
  display: flex;
  justify-content: flex-end;
  padding: .6em;
}

.edit_author_body_row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.edit_author_body_row > input {
  flex: 2;
  padding: .5em;
}

@media screen and (min-width: 768px) {
  .edit_author_body_row > input {
    flex: 3;
  }
}

@media screen and (min-width: 992px) {
  .edit_author_body_row > input {
    flex: 4;
  }
}

@media screen and (min-width: 1200px) {
  .edit_author_body_row > input {
    flex: 15;
  }
}

.edit_author_form_bottom {
  grid-area: edit_author_form_bottom;
  background-color: lightblue;
  border-bottom-right-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  border-color: black;
  border-style: solid;
  border-width: 1px 0 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.edit_author_bottom_nav {
  display: inline-block;
  margin-left: 0.6em;
  margin-right: 0.6em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.edit_author_bottom_nav button {
  font-size: 1.5em;
  margin-left: 0.6em;
}
/*# sourceMappingURL=styles.css.map */