<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../static/css/styles.css" data-th-href="@{/css/styles.css}" rel="stylesheet">
   
</head>

<body>
    <div class="album" data-th-fragment="album">
        <div class="album_figure"  data-th-each="album:${albums}" id="album_id" data-th-attr="id=${album.id}">
            <figure class="album_figure_inner">
                <img alt=""
                    src="../../static/images/Георгиевские_Кавалеры_11_гренадерского_Фанагорийского_полка.jpg"
                    data-th-src="|data:${cover.contentType};base64,${cover.image}|">
                <figcaption>Софийский собор</figcaption>
            </figure>
        </div>
    </div>
</body>

</html>