$gap-album: 20px;
.album {
    display: flex;
    gap: $gap-album;
    flex-flow: row wrap;
}

.album_figure > figure {
    display: block; /* Блочный элемент */
    width: 250px; /* Ширина */
    min-height: 250px; /* Высота */
    background-color: #5f6a72;
    float: left; /* Блоки выстраиваются по горизонтали */
    margin: auto; /* Отступы */
    text-align: center; /* Выравнивание по центру */
}
.album_figure > figure img {
    max-width: calc(100% - 20px);
    height: auto;
    margin-top: 10px;
}
.album_figure figcaption {
    color: #fff; /* Цвет текста */
    font-size: 1.5em;
    font-family: Arial;
    font-weight: bold;
    caption-side: bottom;
    margin-top: 10px;
    margin-bottom: 10px;
}

