<!DOCTYPE html>
<html lang="en" data-th-attr="lang=#{localized.lang}" class="add_genre_html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="#{site.title}">Библиотека</title>
    <link href="../static/css/styles.css" data-th-href="@{/css/styles.css}" rel="stylesheet">
    <link href="../static/css/dialog-polyfill.css" data-th-href="@{/css/dialog-polyfill.css}" rel="stylesheet">
    <script src="../static/js/dialog-polyfill.js" data-th-src="@{/js/dialog-polyfill.js}"></script>
    <script src="../static/js/genres.js" data-th-src="@{/js/genres.js}"></script>

</head>

<body class="add_genre_body_main">
    <div class="add_genre_wrapper">
        <form class="add_genre_form_wrapper" data-th-action="@{/registration}" data-th-object="${user}" method="post">
            <div class="add_genre_form_caption">
                <p>Новый жанр</p>
            </div>
            <div class="add_genre_body">

                <div data-th-classappend="${#fields.hasErrors('name')}? 'has-error'">
                        <label>Name</label>
                        <input type="text" data-th-field="*{name}" />
                        <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
                        data-th-class="text-red">Incorrect data</p>
                    </div>
                </div>

                <div class="add_genre_form_bottom">
                    <div class="add_genre_bottom_nav">
                        <button type="submit" data-th-text="#{genres.add.submit}">Submit</button>
                        <button type="button" data-th-text="#{genres.add.submit}">Cancel</button>
                    </div>
                </div>
        </form>
    </div>
    </body>

</html>