<!DOCTYPE html>
<html lang="en" data-th-attr="lang=#{localized.lang}" class="edit_author_html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="#{site.title}">Библиотека</title>
    <link href="../static/css/styles.css" data-th-href="@{/css/styles.css}" rel="stylesheet">
    <link href="../static/css/dialog-polyfill.css" data-th-href="@{/css/dialog-polyfill.css}" rel="stylesheet">
    <script src="../static/js/dialog-polyfill.js" data-th-src="@{/js/dialog-polyfill.js}"></script>
    <script src="../static/js/authors.js" data-th-src="@{/js/authors.js}"></script>

</head>

<body class="edit_author_body_main">
    <div class="edit_author_wrapper">
        <form class="edit_author_form_wrapper" data-th-action="@{/authors/edit}" data-th-object="${author}" method="post">
            <div class="edit_author_form_caption">
                <p data-th-text="#{authors.edit.form.caption}">Редактировать автора</p>
            </div>
            <div class="edit_author_body">

                <div class="edit_author_body_row">
                    <label data-th-text="#{authors.edit.form.label.id}">Id:</label>
                    <input type="text" readonly="true" data-th-field="*{id}" />
                </div>

                <div class="edit_author_body_row">
                    <label data-th-text="#{authors.edit.form.label.name}">Name</label>
                    <input type="text" data-th-field="*{name}" />
                </div>

                <div class="edit_author_body_row" data-th-classappend="${#fields.hasErrors('name')}? 'has-error'">
                    <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}"
                    data-th-class="text-red">Incorrect data</p>
                </div>
                
            </div>

                <div class="edit_author_form_bottom">
                    <div class="edit_author_bottom_nav">
                        <button type="submit" data-th-text="#{authors.edit.submit}">Submit</button>
                        <button type="button" data-th-text="#{authors.edit.exit}"
                                onclick="window.location.href='/authors';">Cancel</button>
                    </div>
                </div>
        </form>
    </div>
</body>

</html>