<!DOCTYPE html>
<html lang="en" data-th-attr="lang=#{localized.lang}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="#{site.title}">Библиотека</title>
    <link href="../../static/css/styles.css" data-th-href="@{/css/styles.css}" rel="stylesheet">
    <script src="../../static/js/add-cover-to-book.js" data-th-src="@{/js/add-cover-to-book.js}"></script>
</head>

<body class="book_covers_add_body">
    <div>
        <p hidden="true" id="book_id" data-th-text="${bookId}">12</p>
    </div>

    <div class="book_add_cover_wrapper">
        <div class="book_cover_nav">
            <div>
                <label data-th-text="#{books.covers.add.caption}">Обложки</label>
            </div>
            <div>
                <p class="edit_cover_button" onclick="return_to_book();" data-th-text="#{books.covers.exit}">Exit</p>
            </div>
        </div>

        <div class="cover_row" data-th-each="cover:${covers}" id="cover_id" data-th-attr="id=${cover.id}">
            <div class="cover_row_info_block">
                <div class="cover_row_info_text">
                    <label data-th-text="${cover.title}">Name</label>
                </div>
                <div class="cover_row_img">
                    <img alt="Изображение"
                        src="../../static/images/Георгиевские_Кавалеры_11_гренадерского_Фанагорийского_полка.jpg"
                        data-th-src="|data:${cover.contentType};base64,${cover.image}|">
                </div>
            </div>
            <div class="cover_row_buttons">
                    <button class="edit_cover_button" onclick="save_image_to_book(this)" data-th-onclick="|save_image_to_book(this);|"
                    data-th-text="#{books.covers.add.save}"
                    >Сохранить</button>
            </div>
        </div>

    </div>


</body>

</html>