<!DOCTYPE html>
<html lang="en" data-th-attr="lang=#{localized.lang}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-text="#{site.title}">Библиотека</title>
    <link href="../../static/css/styles.css" data-th-href="@{/css/styles.css}" rel="stylesheet">
    <script src="../../static/js/add-cover.js" data-th-src="@{/js/add-cover.js}"></script>
</head>

<body class="cover-body">
    <div id="cover-upload-container">
        <form id = "cover-upload-container-form" method="POST" action="add_cover.html">
            <img id="cover-upload-image" src="../../static/images/upload.svg" data-th-src="@{/images/upload.svg}">
            <div>
                <input id="cover-file-input" type="file" name="file" multiple accept="image/*">
                <label for="cover-file-input">Выберите файл</label>
                <span>или перетащите его сюда</span>
            </div>
        </form>
        <div id="gallery"></div>
    </div>
</body>

</html>