.edit_author_html,
.edit_author_body_main {
  display: block;
  pediting: 0;
  margin: 0;
}

.edit_author_wrapper {
    width: 95vw;
    margin: auto;
    min-height: 100%;
    height: 100vh !important;
    height: 100%; // for old IE
    background-color: white;
  }
  
  .edit_author_form_wrapper {
    display: grid;
    grid-template:
      "edit_author_form_cap"
      "edit_author_body"
      "edit_author_form_bottom";
    grid-template-columns: 1fr;
    grid-template-rows: 5em auto 5em;
    min-height: 100%;
    height: auto !important;
    height: 100%; // for old IE
  }
  
  .edit_author_form_caption {
    grid-area: edit_author_form_cap;
    background-color: lightblue;
    border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
    border-color: black;
    border-style: solid;
    border-width: 0 0 1px 0;
    p {
      margin-left: 0.6em;
      font-size: 1.5em;
    }
  }
  .edit_author_body {
    grid-area: edit_author_body;
    background-color: white;
    display: block;
    label,
    input,
    p {
      margin-top: 2em;
      font-size: 2em;
    }
    
  }

  .edit_author_body_row {
    display: flex;
    justify-content: flex-end;
    padding: .6em;
  }

  .edit_author_body_row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }

  .edit_author_body_row > input {
    flex: 2;
    padding: .5em;
  }

  @media screen and (min-width: 768px) {
    .edit_author_body_row > input {
      flex: 3; 
    }
  }
  @media screen and (min-width: 992px) {
    .edit_author_body_row > input {
      flex: 4; 
    }
  }
  @media screen and (min-width: 1200px) {
    .edit_author_body_row > input {
      flex: 15; 
    }
  }

  .edit_author_form_bottom {
    grid-area: edit_author_form_bottom;
    background-color: lightblue;
    border-bottom-right-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
    border-color: black;
    border-style: solid;
    border-width: 1px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
  }
  
  .edit_author_bottom_nav {
    display: inline-block;
    margin-left: 0.6em;
    margin-right: 0.6em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  
    button {
      font-size: 1.5em;
      margin-left: 0.6em;
    }
  }
  